<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2 class="text-center">Sign In</h2>
    </div>
    <div class="card-body">
      <!-- Your image, make sure to adjust the path -->
      <img src="assets/images/welcome3.png" id="image" class="img-fluid mx-auto d-block mb-4" alt="Welcome Image" style="width: 460px; height: 65px;">

      <form>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Enter E-mail" #email>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" #password>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="signIN(email.value, password.value)">
            Sign In
          </button>
          <button type="button" class="btn btn-link" (click)="signUP()">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
