<h3> View Laptop Details</h3>
<div>
    <div>
        <label> <b> ID: </b></label> {{ laptop.laptopId }}
    </div>
    <div>
        <label> <b> Laptop Name: </b></label> {{ laptop.laptopName }}
    </div>
    <div>
        <label> <b> Laptop Price: </b></label> {{ laptop.laptopPrice }}
    </div>
    <div>
        <label> <b> Laptop Serial Number: </b></label> {{ laptop.laptopSerialNumber }}
    </div>
    <div>
        <label> <b> Laptop Warranty Status: </b></label> {{ laptop.laptopWarrantyStatus }}
    </div>
</div>